.u-section-1 .u-sheet-1 {
  min-height: 498px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 88px 295px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -5px 672px 0 94px;
}

.u-section-1 .u-image-1 {
  width: 271px;
  height: 280px;
  margin: -112px 76px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -140px 648px 60px 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 127px;
    margin-right: 95px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -311px;
    margin-right: 666px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -496px;
    margin-right: 536px;
    margin-left: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2118px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 556px;
    margin-left: 266px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1062px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1360px;
    margin-right: 426px;
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4010px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-right: 466px;
    margin-left: 356px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2182px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2449px;
    margin-right: 336px;
    margin-left: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3650px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 400px;
    margin-left: 456px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2354px;
    margin-right: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2240px;
    margin-right: 400px;
    margin-left: 456px;
  }
}

.u-block-d69a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d69a-7 {
  position: absolute;
  left: calc(((100% - 1140px) / 2) + -48px);
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-d69a-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-d69a-7 {
    left: calc(((100% - 940px) / 2) + -40px);
  }
}

@media (max-width: 991px) {
  .u-block-d69a-7 {
    left: calc(((100% - 720px) / 2) + -31px);
  }
}

@media (max-width: 767px) {
  .u-block-d69a-7 {
    left: calc(((100% - 540px) / 2) + -23px);
  }
}

@media (max-width: 575px) {
  .u-block-d69a-7 {
    left: calc(((100% - 340px) / 2) + -14px);
  }
}

.u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/shutterstock_1078387013-2048x1024.jpg");
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 314px auto 0;
}

.u-section-2-1 .u-text-2 {
  width: 837px;
  font-size: 1.5rem;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/programming.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  font-weight: 700;
  margin: 314px 79px 0 52px;
}

.u-section-2-2 .u-text-2 {
  width: 837px;
  font-size: 1.5rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 53px;
    margin-right: 53px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-2-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

.u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/como-cambiar-la-privacidad-en-facebook-para-que-puedan-compartir-mis-publicaciones.jpg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  font-weight: 700;
  margin: 314px 77px 0 54px;
}

.u-section-2-3 .u-text-2 {
  font-size: 1.5rem;
  width: 837px;
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 53px;
    margin-right: 53px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-2-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-2-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 782px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 47px 212px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -35px auto 0 220px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 11px 192px 0 auto;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: -41px auto 0 224px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 572px;
  background-image: url("../images/front-end-vs-back-end4.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 38px;
}

.u-section-3 .u-image-2 {
  min-height: 572px;
  background-image: url("../images/front-end-vs-back-end5.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 24px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 472px;
  }

  .u-section-3 .u-image-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 165px;
  }

  .u-section-3 .u-image-1 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 104px;
  }

  .u-section-3 .u-image-1 {
    min-height: 342px;
  }
}

.u-section-4 .u-sheet-1 {
  min-height: 786px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 552px;
  margin-top: 75px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-gallery-1 {
    height: 784px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1481px;
  }
}

.u-section-5 .u-sheet-1 {
  min-height: 531px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 157px 0 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 21px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 21px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}